//________________Шрифты

.all-fonts {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 8px;
  }

  &__font {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
}

// Title H1
.font-h1 {
  // width: 100%;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 100px;
  color: var(--default-stylekit);

  @include bp(md) {
    font-size: 70px;
    line-height: 70px;
    hyphens: auto;
  }

  @include bp(sm) {
    font-size: 48px;
    line-height: 48px;
    hyphens: auto;
  }
}

// Title H2
.font-h2 {
  // width: 100%;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 82px;
  color: var(--default-stylekit);

  @include bp(md) {
    font-size: 50px;
    line-height: 65px;
  }

  @include bp(sm) {
    font-size: 40px;
    line-height: 48px;
  }
}

// Default Title H2
.default-h2 {
  // width: 100%;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 82px;
  color: var(--default-stylekit);

  @include bp(md) {
    font-size: 50px;
    line-height: 65px;
  }

  @include bp(sm) {
    font-size: 40px;
    line-height: 48px;
  }
}

// Title H3
.font-h3 {
  // width: 100%;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  color: var(--default-stylekit);

  @include bp(md) {
    font-size: 32px;
    line-height: 40px;
  }
}

// Title H4
.font-h4 {
  // width: 100%;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  color: var(--default-stylekit);

  @include bp(md) {
    font-size: 24px;
    line-height: 30px;
  }
}

// Title H5
.font-h5 {
  // width: 100%;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: var(--default-stylekit);

  @include bp(md) {
    font-size: 21px;
    line-height: 26px;
  }
}

// Subtitle large
.font-s-l {
  // width: 100%;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  color: var(--default-stylekit);
}

// Subtitle medium
.font-s-m {
  // width: 100%;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  color: var(--default-stylekit);
}

// Subtitle small
.font-s-s {
  // width: 100%;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  color: var(--default-stylekit);
}

// Body large
.font-b-l {
  // width: 100%;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  color: var(--default-stylekit);
}

// Default Body large
.default-b-l {
  // width: 100%;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  color: var(--default-stylekit);
}

// Body medium
.font-b-m {
  // width: 100%;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  color: var(--default-stylekit);
}

// Body small
.font-b-s {
  // width: 100%;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: var(--default-stylekit);
}

//________________Цвета

html {
  --default-color: #303030;
  --default-bg: #f4f4f4;
}

.all-colors {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    padding: 20px;
    border-radius: 8px;
    // background: rgb(185 185 185);
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__box {
    width: 54px;
    height: 54px;
    border: 1px solid rgb(141, 141, 141);
    border-radius: 8px;
  }

  &__name {
    height: fit-content;
  }
}

.color {
  &--default {
    color: var(--default-color);
  }
}

.color-block {
  &--default {
    background: var(--default-bg);
  }
}

//________________Кнопки

.all-buttons {
  &__block {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.button-block {
  width: fit-content;

  @include bp(sm) {
    width: 100%;
    text-align: center;
  }

  &__item {
    display: flex;

    width: max-content;
    height: fit-content;
    padding: 12px 114px;
    background: var();
    border-radius: 32px;
    transition: all 0.5s;

    @include bp(sm) {
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 767px;
    }

    &:hover {
      background: var();

      p {
        color: var();
      }
    }
  }
}

//________________Система отступов

.indentation-system {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__padding-colors {
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding: 8px;
    border-radius: 4px;
    background: #f4f4f4;

    @include bp(md) {
      justify-content: space-between;
    }

    @include bp(sm) {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 20px;
    }
  }

  &__color-block {
    display: flex;
    gap: 20px;
    align-items: center;

    @include bp(sm) {
      gap: 8px;
      align-items: unset;
      flex-direction: column-reverse;
    }
  }

  &__button-block {
    display: flex;
    // flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 4px;

    @include bp(md) {
      flex-direction: column;
    }

    @include bp(sm) {
      flex-direction: column;
    }
  }

  &__class {
    width: fit-content;
    padding: 4px 12px;
    border-radius: 8px;
    background: rgb(222, 222, 222);
    cursor: pointer;
  }

  &__box-grey {
    width: 155px;
    height: 4px;
    background: #7b939b;

    @include bp(md) {
      height: 4px;
    }

    @include bp(sm) {
      height: 4px;
    }
  }

  &__box-darkpurple {
    width: 155px;
    height: 8px;
    background: #3f028c;

    @include bp(md) {
      height: 8px;
    }

    @include bp(sm) {
      height: 8px;
    }
  }

  &__box-blue {
    width: 155px;
    height: 12px;
    background: #0e49e3;

    @include bp(md) {
      height: 12px;
    }

    @include bp(sm) {
      height: 8px;
    }
  }

  &__box-lightblue {
    width: 155px;
    height: 16px;
    background: #65bbdf;

    @include bp(md) {
      height: 16px;
    }

    @include bp(sm) {
      height: 12px;
    }
  }

  &__box-yellow {
    width: 155px;
    height: 20px;
    background: #ffca00;

    @include bp(md) {
      height: 20px;
    }

    @include bp(sm) {
      height: 20px;
    }
  }

  &__box-darkorange {
    width: 155px;
    height: 20px;
    background: #d33706;

    @include bp(md) {
      height: 16px;
    }

    @include bp(sm) {
      height: 12px;
    }
  }

  &__box-burgundy {
    width: 155px;
    height: 24px;
    background: #850337;

    @include bp(md) {
      height: 24px;
    }

    @include bp(sm) {
      height: 20px;
    }
  }

  &__box-red {
    width: 155px;
    height: 28px;
    background: #ff4747;

    @include bp(md) {
      height: 28px;
    }

    @include bp(sm) {
      height: 24px;
    }
  }

  &__box-mint {
    width: 155px;
    height: 32px;
    background: #57d9b7;

    @include bp(md) {
      height: 32px;
    }

    @include bp(sm) {
      height: 28px;
    }
  }

  &__box-purple {
    width: 155px;
    height: 40px;
    background: #9466ff;

    @include bp(md) {
      height: 40px;
    }

    @include bp(sm) {
      height: 32px;
    }
  }

  &__box-darkblue {
    width: 155px;
    height: 48px;
    background: #273a64;

    @include bp(md) {
      height: 40px;
    }

    @include bp(sm) {
      height: 32px;
    }
  }

  &__box-green {
    width: 155px;
    height: 64px;
    background: #00933e;

    @include bp(md) {
      height: 48px;
    }

    @include bp(sm) {
      height: 40px;
    }
  }

  &__box-orange {
    width: 155px;
    height: 80px;
    background: #ff4f12;

    @include bp(md) {
      height: 64px;
    }

    @include bp(sm) {
      height: 40px;
    }
  }

  &__box-pink {
    width: 155px;
    height: 100px;
    background: #ffbfc3;

    @include bp(md) {
      height: 80px;
    }

    @include bp(sm) {
      height: 64px;
    }
  }

  &__box-wine {
    width: 155px;
    height: 120px;
    background: #bc104b;

    @include bp(md) {
      height: 100px;
    }

    @include bp(sm) {
      height: 80px;
    }
  }
}

// sp-t-grey
.sp-t-grey {
  padding-top: 4px;

  @include bp(md) {
    padding-top: 4px;
  }

  @include bp(sm) {
    padding-top: 4px;
  }
}

.sp-b-grey {
  padding-bottom: 4px;

  @include bp(md) {
    padding-bottom: 4px;
  }

  @include bp(sm) {
    padding-bottom: 4px;
  }
}

.sp-v-grey {
  padding-top: 4px;
  padding-bottom: 4px;

  @include bp(md) {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  @include bp(sm) {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

// sp-t-darkpurple
.sp-t-darkpurple {
  padding-top: 8px;

  @include bp(md) {
    padding-top: 8px;
  }

  @include bp(sm) {
    padding-top: 8px;
  }
}

.sp-b-darkpurple {
  padding-bottom: 8px;

  @include bp(md) {
    padding-bottom: 8px;
  }

  @include bp(sm) {
    padding-bottom: 8px;
  }
}

.sp-v-darkpurple {
  padding-top: 8px;
  padding-bottom: 8px;

  @include bp(md) {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  @include bp(sm) {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

// sp-t-blue
.sp-t-blue {
  padding-top: 12px;

  @include bp(md) {
    padding-top: 12px;
  }

  @include bp(sm) {
    padding-top: 8px;
  }
}

.sp-b-blue {
  padding-bottom: 12px;

  @include bp(md) {
    padding-bottom: 12px;
  }

  @include bp(sm) {
    padding-bottom: 8px;
  }
}

.sp-v-blue {
  padding-top: 12px;
  padding-bottom: 12px;

  @include bp(md) {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  @include bp(sm) {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

// sp-t-lightblue
.sp-t-lightblue {
  padding-top: 16px;

  @include bp(md) {
    padding-top: 16px;
  }

  @include bp(sm) {
    padding-top: 12px;
  }
}

.sp-b-lightblue {
  padding-bottom: 16px;

  @include bp(md) {
    padding-bottom: 16px;
  }

  @include bp(sm) {
    padding-bottom: 12px;
  }
}

.sp-v-lightblue {
  padding-top: 16px;
  padding-bottom: 16px;

  @include bp(md) {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @include bp(sm) {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

// sp-t-yellow
.sp-t-yellow {
  padding-top: 20px;

  @include bp(md) {
    padding-top: 20px;
  }

  @include bp(sm) {
    padding-top: 20px;
  }
}

.sp-b-yellow {
  padding-bottom: 20px;

  @include bp(md) {
    padding-bottom: 20px;
  }

  @include bp(sm) {
    padding-bottom: 20px;
  }
}

.sp-v-yellow {
  padding-top: 20px;
  padding-bottom: 20px;

  @include bp(md) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @include bp(sm) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

// sp-t-darkorange
.sp-t-darkorange {
  padding-top: 20px;

  @include bp(md) {
    padding-top: 16px;
  }

  @include bp(sm) {
    padding-top: 12px;
  }
}

.sp-b-darkorange {
  padding-bottom: 20px;

  @include bp(md) {
    padding-bottom: 16px;
  }

  @include bp(sm) {
    padding-bottom: 12px;
  }
}

.sp-v-darkorange {
  padding-top: 20px;
  padding-bottom: 20px;

  @include bp(md) {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @include bp(sm) {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

// sp-t-burgundy
.sp-t-burgundy {
  padding-top: 24px;

  @include bp(md) {
    padding-top: 24px;
  }

  @include bp(sm) {
    padding-top: 20px;
  }
}

.sp-b-burgundy {
  padding-bottom: 24px;

  @include bp(md) {
    padding-bottom: 24px;
  }

  @include bp(sm) {
    padding-bottom: 20px;
  }
}

.sp-v-burgundy {
  padding-top: 24px;
  padding-bottom: 24px;

  @include bp(md) {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  @include bp(sm) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

// sp-t-red
.sp-t-red {
  padding-top: 28px;

  @include bp(md) {
    padding-top: 28px;
  }

  @include bp(sm) {
    padding-top: 24px;
  }
}

.sp-b-red {
  padding-bottom: 28px;

  @include bp(md) {
    padding-bottom: 28px;
  }

  @include bp(sm) {
    padding-bottom: 24px;
  }
}

.sp-v-red {
  padding-top: 28px;
  padding-bottom: 28px;

  @include bp(md) {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  @include bp(sm) {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

// sp-t-mint
.sp-t-mint {
  padding-top: 32px;

  @include bp(md) {
    padding-top: 32px;
  }

  @include bp(sm) {
    padding-top: 28px;
  }
}

.sp-b-mint {
  padding-bottom: 32px;

  @include bp(md) {
    padding-bottom: 32px;
  }

  @include bp(sm) {
    padding-bottom: 28px;
  }
}

.sp-v-mint {
  padding-top: 32px;
  padding-bottom: 32px;

  @include bp(md) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  @include bp(sm) {
    padding-top: 28px;
    padding-bottom: 28px;
  }
}

// sp-t-purple
.sp-t-purple {
  padding-top: 40px;

  @include bp(md) {
    padding-top: 40px;
  }

  @include bp(sm) {
    padding-top: 32px;
  }
}

.sp-b-purple {
  padding-bottom: 40px;

  @include bp(md) {
    padding-bottom: 40px;
  }

  @include bp(sm) {
    padding-bottom: 32px;
  }
}

.sp-v-purple {
  padding-top: 40px;
  padding-bottom: 40px;

  @include bp(md) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @include bp(sm) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

// sp-t-dark-blue
.sp-t-darkblue {
  padding-top: 48px;

  @include bp(md) {
    padding-top: 40px;
  }

  @include bp(sm) {
    padding-top: 32px;
  }
}

.sp-b-darkblue {
  padding-bottom: 48px;

  @include bp(md) {
    padding-bottom: 40px;
  }

  @include bp(sm) {
    padding-bottom: 32px;
  }
}

.sp-v-darkblue {
  padding-top: 48px;
  padding-bottom: 48px;

  @include bp(md) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @include bp(sm) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

// sp-t-green
.sp-t-green {
  padding-top: 64px;

  @include bp(md) {
    padding-top: 48px;
  }

  @include bp(sm) {
    padding-top: 40px;
  }
}

.sp-b-green {
  padding-bottom: 64px;

  @include bp(md) {
    padding-bottom: 48px;
  }

  @include bp(sm) {
    padding-bottom: 40px;
  }
}

.sp-v-green {
  padding-top: 64px;
  padding-bottom: 64px;

  @include bp(md) {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  @include bp(sm) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

// sp-t-orange
.sp-t-orange {
  padding-top: 80px;

  @include bp(md) {
    padding-top: 64px;
  }

  @include bp(sm) {
    padding-top: 40px;
  }
}

.sp-b-orange {
  padding-bottom: 80px;

  @include bp(md) {
    padding-bottom: 64px;
  }

  @include bp(sm) {
    padding-bottom: 40px;
  }
}

.sp-v-orange {
  padding-top: 80px;
  padding-bottom: 80px;

  @include bp(md) {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  @include bp(sm) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

// sp-t-pink
.sp-t-pink {
  padding-top: 100px;

  @include bp(md) {
    padding-top: 80px;
  }

  @include bp(sm) {
    padding-top: 64px;
  }
}

.sp-b-pink {
  padding-bottom: 100px;

  @include bp(md) {
    padding-bottom: 80px;
  }

  @include bp(sm) {
    padding-bottom: 64px;
  }
}

.sp-v-pink {
  padding-top: 100px;
  padding-bottom: 100px;

  @include bp(md) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @include bp(sm) {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

// sp-t-wine
.sp-t-wine {
  padding-top: 120px;

  @include bp(md) {
    padding-top: 100px;
  }

  @include bp(sm) {
    padding-top: 80px;
  }
}

.sp-b-wine {
  padding-bottom: 120px !important;

  @include bp(md) {
    padding-bottom: 100px !important;
  }

  @include bp(sm) {
    padding-bottom: 80px !important;
  }
}

.sp-v-wine {
  padding-top: 120px;
  padding-bottom: 120px;

  @include bp(md) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include bp(sm) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

// sp-t-pastel
.sp-t-pastel {
  padding-top: 200px;

  @include bp(md) {
    padding-top: 120px;
  }

  @include bp(sm) {
    padding-top: 100px;
  }
}

.sp-b-pastel {
  padding-bottom: 200px;

  @include bp(md) {
    padding-bottom: 120px;
  }

  @include bp(sm) {
    padding-bottom: 100px;
  }
}

.sp-v-pastel {
  padding-top: 200px;
  padding-bottom: 200px;

  @include bp(md) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  @include bp(sm) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

//________________Остальное

.d-none {
  display: none;
}

.d-none-lg {
  @include bp(lg) {
    display: none;
  }
}

.d-none-md {
  @include bp(md) {
    display: none !important;
  }
}

.d-none-sm {
  @include bp(sm) {
    display: none !important;
  }
}

.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.f-w-medium {
  font-weight: 500;
}
