@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a:active, a:focus {
  outline: none;
}

input, textarea {
  outline: none;
}

input:active, textarea:active {
  outline: none;
}

:focus {
  outline: none;
}

textarea {
  resize: none;
}

textarea {
  resize: vertical;
}

textarea {
  resize: horizontal;
}

input[type=tel] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 45px;
  padding-right: 45px;
}
@media (max-width: 1279px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 1024px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.row {
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  min-width: 100%;
  margin-left: -5px;
  margin-right: -5px;
}

.col {
  flex: 1 0 0%;
  padding-left: 5px;
  padding-right: 5px;
}

.col-1 {
  flex: 0 0 auto;
  padding-left: 5px;
  padding-right: 5px;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  padding-left: 5px;
  padding-right: 5px;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  padding-left: 5px;
  padding-right: 5px;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  padding-left: 5px;
  padding-right: 5px;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  padding-left: 5px;
  padding-right: 5px;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  padding-left: 5px;
  padding-right: 5px;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  padding-left: 5px;
  padding-right: 5px;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  padding-left: 5px;
  padding-right: 5px;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  padding-left: 5px;
  padding-right: 5px;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  padding-left: 5px;
  padding-right: 5px;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  padding-left: 5px;
  padding-right: 5px;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
}

@media (max-width: 1279px) {
  .col-lg-1 {
    flex: 0 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .col-md-1 {
    flex: 0 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6666666667%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    width: 33.3333333333%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    width: 50%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    width: 66.6666666667%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333333333%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .col-sm-1 {
    flex: 0 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    width: 33.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    width: 66.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
  }
}
.all-fonts__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 8px;
}
.all-fonts__font {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.font-h1 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 100px;
  color: var(--default-stylekit);
}
@media (max-width: 1024px) {
  .font-h1 {
    font-size: 70px;
    line-height: 70px;
    -webkit-hyphens: auto;
            hyphens: auto;
  }
}
@media (max-width: 767px) {
  .font-h1 {
    font-size: 48px;
    line-height: 48px;
    -webkit-hyphens: auto;
            hyphens: auto;
  }
}

.font-h2 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 82px;
  color: var(--default-stylekit);
}
@media (max-width: 1024px) {
  .font-h2 {
    font-size: 50px;
    line-height: 65px;
  }
}
@media (max-width: 767px) {
  .font-h2 {
    font-size: 40px;
    line-height: 48px;
  }
}

.default-h2 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 82px;
  color: var(--default-stylekit);
}
@media (max-width: 1024px) {
  .default-h2 {
    font-size: 50px;
    line-height: 65px;
  }
}
@media (max-width: 767px) {
  .default-h2 {
    font-size: 40px;
    line-height: 48px;
  }
}

.font-h3 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  color: var(--default-stylekit);
}
@media (max-width: 1024px) {
  .font-h3 {
    font-size: 32px;
    line-height: 40px;
  }
}

.font-h4 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  color: var(--default-stylekit);
}
@media (max-width: 1024px) {
  .font-h4 {
    font-size: 24px;
    line-height: 30px;
  }
}

.font-h5 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: var(--default-stylekit);
}
@media (max-width: 1024px) {
  .font-h5 {
    font-size: 21px;
    line-height: 26px;
  }
}

.font-s-l {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  color: var(--default-stylekit);
}

.font-s-m {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  color: var(--default-stylekit);
}

.font-s-s {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  color: var(--default-stylekit);
}

.font-b-l {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  color: var(--default-stylekit);
}

.default-b-l {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  color: var(--default-stylekit);
}

.font-b-m {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  color: var(--default-stylekit);
}

.font-b-s {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: var(--default-stylekit);
}

html {
  --default-color: #303030;
  --default-bg: #f4f4f4;
}

.all-colors__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  padding: 20px;
  border-radius: 8px;
}
.all-colors__block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.all-colors__item {
  display: flex;
  align-items: center;
  gap: 20px;
}
.all-colors__box {
  width: 54px;
  height: 54px;
  border: 1px solid rgb(141, 141, 141);
  border-radius: 8px;
}
.all-colors__name {
  height: -moz-fit-content;
  height: fit-content;
}

.color--default {
  color: var(--default-color);
}

.color-block--default {
  background: var(--default-bg);
}

.all-buttons__block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button-block {
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 767px) {
  .button-block {
    width: 100%;
    text-align: center;
  }
}
.button-block__item {
  display: flex;
  width: -moz-max-content;
  width: max-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 12px 114px;
  background: var();
  border-radius: 32px;
  transition: all 0.5s;
}
@media (max-width: 767px) {
  .button-block__item {
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 767px;
  }
}
.button-block__item:hover {
  background: var();
}
.button-block__item:hover p {
  color: var();
}

.indentation-system__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.indentation-system__padding-colors {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding: 8px;
  border-radius: 4px;
  background: #f4f4f4;
}
@media (max-width: 1024px) {
  .indentation-system__padding-colors {
    justify-content: space-between;
  }
}
@media (max-width: 767px) {
  .indentation-system__padding-colors {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
  }
}
.indentation-system__color-block {
  display: flex;
  gap: 20px;
  align-items: center;
}
@media (max-width: 767px) {
  .indentation-system__color-block {
    gap: 8px;
    align-items: unset;
    flex-direction: column-reverse;
  }
}
.indentation-system__button-block {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 4px;
}
@media (max-width: 1024px) {
  .indentation-system__button-block {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .indentation-system__button-block {
    flex-direction: column;
  }
}
.indentation-system__class {
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px 12px;
  border-radius: 8px;
  background: rgb(222, 222, 222);
  cursor: pointer;
}
.indentation-system__box-grey {
  width: 155px;
  height: 4px;
  background: #7b939b;
}
@media (max-width: 1024px) {
  .indentation-system__box-grey {
    height: 4px;
  }
}
@media (max-width: 767px) {
  .indentation-system__box-grey {
    height: 4px;
  }
}
.indentation-system__box-darkpurple {
  width: 155px;
  height: 8px;
  background: #3f028c;
}
@media (max-width: 1024px) {
  .indentation-system__box-darkpurple {
    height: 8px;
  }
}
@media (max-width: 767px) {
  .indentation-system__box-darkpurple {
    height: 8px;
  }
}
.indentation-system__box-blue {
  width: 155px;
  height: 12px;
  background: #0e49e3;
}
@media (max-width: 1024px) {
  .indentation-system__box-blue {
    height: 12px;
  }
}
@media (max-width: 767px) {
  .indentation-system__box-blue {
    height: 8px;
  }
}
.indentation-system__box-lightblue {
  width: 155px;
  height: 16px;
  background: #65bbdf;
}
@media (max-width: 1024px) {
  .indentation-system__box-lightblue {
    height: 16px;
  }
}
@media (max-width: 767px) {
  .indentation-system__box-lightblue {
    height: 12px;
  }
}
.indentation-system__box-yellow {
  width: 155px;
  height: 20px;
  background: #ffca00;
}
@media (max-width: 1024px) {
  .indentation-system__box-yellow {
    height: 20px;
  }
}
@media (max-width: 767px) {
  .indentation-system__box-yellow {
    height: 20px;
  }
}
.indentation-system__box-darkorange {
  width: 155px;
  height: 20px;
  background: #d33706;
}
@media (max-width: 1024px) {
  .indentation-system__box-darkorange {
    height: 16px;
  }
}
@media (max-width: 767px) {
  .indentation-system__box-darkorange {
    height: 12px;
  }
}
.indentation-system__box-burgundy {
  width: 155px;
  height: 24px;
  background: #850337;
}
@media (max-width: 1024px) {
  .indentation-system__box-burgundy {
    height: 24px;
  }
}
@media (max-width: 767px) {
  .indentation-system__box-burgundy {
    height: 20px;
  }
}
.indentation-system__box-red {
  width: 155px;
  height: 28px;
  background: #ff4747;
}
@media (max-width: 1024px) {
  .indentation-system__box-red {
    height: 28px;
  }
}
@media (max-width: 767px) {
  .indentation-system__box-red {
    height: 24px;
  }
}
.indentation-system__box-mint {
  width: 155px;
  height: 32px;
  background: #57d9b7;
}
@media (max-width: 1024px) {
  .indentation-system__box-mint {
    height: 32px;
  }
}
@media (max-width: 767px) {
  .indentation-system__box-mint {
    height: 28px;
  }
}
.indentation-system__box-purple {
  width: 155px;
  height: 40px;
  background: #9466ff;
}
@media (max-width: 1024px) {
  .indentation-system__box-purple {
    height: 40px;
  }
}
@media (max-width: 767px) {
  .indentation-system__box-purple {
    height: 32px;
  }
}
.indentation-system__box-darkblue {
  width: 155px;
  height: 48px;
  background: #273a64;
}
@media (max-width: 1024px) {
  .indentation-system__box-darkblue {
    height: 40px;
  }
}
@media (max-width: 767px) {
  .indentation-system__box-darkblue {
    height: 32px;
  }
}
.indentation-system__box-green {
  width: 155px;
  height: 64px;
  background: #00933e;
}
@media (max-width: 1024px) {
  .indentation-system__box-green {
    height: 48px;
  }
}
@media (max-width: 767px) {
  .indentation-system__box-green {
    height: 40px;
  }
}
.indentation-system__box-orange {
  width: 155px;
  height: 80px;
  background: #ff4f12;
}
@media (max-width: 1024px) {
  .indentation-system__box-orange {
    height: 64px;
  }
}
@media (max-width: 767px) {
  .indentation-system__box-orange {
    height: 40px;
  }
}
.indentation-system__box-pink {
  width: 155px;
  height: 100px;
  background: #ffbfc3;
}
@media (max-width: 1024px) {
  .indentation-system__box-pink {
    height: 80px;
  }
}
@media (max-width: 767px) {
  .indentation-system__box-pink {
    height: 64px;
  }
}
.indentation-system__box-wine {
  width: 155px;
  height: 120px;
  background: #bc104b;
}
@media (max-width: 1024px) {
  .indentation-system__box-wine {
    height: 100px;
  }
}
@media (max-width: 767px) {
  .indentation-system__box-wine {
    height: 80px;
  }
}

.sp-t-grey {
  padding-top: 4px;
}
@media (max-width: 1024px) {
  .sp-t-grey {
    padding-top: 4px;
  }
}
@media (max-width: 767px) {
  .sp-t-grey {
    padding-top: 4px;
  }
}

.sp-b-grey {
  padding-bottom: 4px;
}
@media (max-width: 1024px) {
  .sp-b-grey {
    padding-bottom: 4px;
  }
}
@media (max-width: 767px) {
  .sp-b-grey {
    padding-bottom: 4px;
  }
}

.sp-v-grey {
  padding-top: 4px;
  padding-bottom: 4px;
}
@media (max-width: 1024px) {
  .sp-v-grey {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
@media (max-width: 767px) {
  .sp-v-grey {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

.sp-t-darkpurple {
  padding-top: 8px;
}
@media (max-width: 1024px) {
  .sp-t-darkpurple {
    padding-top: 8px;
  }
}
@media (max-width: 767px) {
  .sp-t-darkpurple {
    padding-top: 8px;
  }
}

.sp-b-darkpurple {
  padding-bottom: 8px;
}
@media (max-width: 1024px) {
  .sp-b-darkpurple {
    padding-bottom: 8px;
  }
}
@media (max-width: 767px) {
  .sp-b-darkpurple {
    padding-bottom: 8px;
  }
}

.sp-v-darkpurple {
  padding-top: 8px;
  padding-bottom: 8px;
}
@media (max-width: 1024px) {
  .sp-v-darkpurple {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
@media (max-width: 767px) {
  .sp-v-darkpurple {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.sp-t-blue {
  padding-top: 12px;
}
@media (max-width: 1024px) {
  .sp-t-blue {
    padding-top: 12px;
  }
}
@media (max-width: 767px) {
  .sp-t-blue {
    padding-top: 8px;
  }
}

.sp-b-blue {
  padding-bottom: 12px;
}
@media (max-width: 1024px) {
  .sp-b-blue {
    padding-bottom: 12px;
  }
}
@media (max-width: 767px) {
  .sp-b-blue {
    padding-bottom: 8px;
  }
}

.sp-v-blue {
  padding-top: 12px;
  padding-bottom: 12px;
}
@media (max-width: 1024px) {
  .sp-v-blue {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media (max-width: 767px) {
  .sp-v-blue {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.sp-t-lightblue {
  padding-top: 16px;
}
@media (max-width: 1024px) {
  .sp-t-lightblue {
    padding-top: 16px;
  }
}
@media (max-width: 767px) {
  .sp-t-lightblue {
    padding-top: 12px;
  }
}

.sp-b-lightblue {
  padding-bottom: 16px;
}
@media (max-width: 1024px) {
  .sp-b-lightblue {
    padding-bottom: 16px;
  }
}
@media (max-width: 767px) {
  .sp-b-lightblue {
    padding-bottom: 12px;
  }
}

.sp-v-lightblue {
  padding-top: 16px;
  padding-bottom: 16px;
}
@media (max-width: 1024px) {
  .sp-v-lightblue {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media (max-width: 767px) {
  .sp-v-lightblue {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.sp-t-yellow {
  padding-top: 20px;
}
@media (max-width: 1024px) {
  .sp-t-yellow {
    padding-top: 20px;
  }
}
@media (max-width: 767px) {
  .sp-t-yellow {
    padding-top: 20px;
  }
}

.sp-b-yellow {
  padding-bottom: 20px;
}
@media (max-width: 1024px) {
  .sp-b-yellow {
    padding-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .sp-b-yellow {
    padding-bottom: 20px;
  }
}

.sp-v-yellow {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (max-width: 1024px) {
  .sp-v-yellow {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .sp-v-yellow {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.sp-t-darkorange {
  padding-top: 20px;
}
@media (max-width: 1024px) {
  .sp-t-darkorange {
    padding-top: 16px;
  }
}
@media (max-width: 767px) {
  .sp-t-darkorange {
    padding-top: 12px;
  }
}

.sp-b-darkorange {
  padding-bottom: 20px;
}
@media (max-width: 1024px) {
  .sp-b-darkorange {
    padding-bottom: 16px;
  }
}
@media (max-width: 767px) {
  .sp-b-darkorange {
    padding-bottom: 12px;
  }
}

.sp-v-darkorange {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (max-width: 1024px) {
  .sp-v-darkorange {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media (max-width: 767px) {
  .sp-v-darkorange {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.sp-t-burgundy {
  padding-top: 24px;
}
@media (max-width: 1024px) {
  .sp-t-burgundy {
    padding-top: 24px;
  }
}
@media (max-width: 767px) {
  .sp-t-burgundy {
    padding-top: 20px;
  }
}

.sp-b-burgundy {
  padding-bottom: 24px;
}
@media (max-width: 1024px) {
  .sp-b-burgundy {
    padding-bottom: 24px;
  }
}
@media (max-width: 767px) {
  .sp-b-burgundy {
    padding-bottom: 20px;
  }
}

.sp-v-burgundy {
  padding-top: 24px;
  padding-bottom: 24px;
}
@media (max-width: 1024px) {
  .sp-v-burgundy {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
@media (max-width: 767px) {
  .sp-v-burgundy {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.sp-t-red {
  padding-top: 28px;
}
@media (max-width: 1024px) {
  .sp-t-red {
    padding-top: 28px;
  }
}
@media (max-width: 767px) {
  .sp-t-red {
    padding-top: 24px;
  }
}

.sp-b-red {
  padding-bottom: 28px;
}
@media (max-width: 1024px) {
  .sp-b-red {
    padding-bottom: 28px;
  }
}
@media (max-width: 767px) {
  .sp-b-red {
    padding-bottom: 24px;
  }
}

.sp-v-red {
  padding-top: 28px;
  padding-bottom: 28px;
}
@media (max-width: 1024px) {
  .sp-v-red {
    padding-top: 28px;
    padding-bottom: 28px;
  }
}
@media (max-width: 767px) {
  .sp-v-red {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.sp-t-mint {
  padding-top: 32px;
}
@media (max-width: 1024px) {
  .sp-t-mint {
    padding-top: 32px;
  }
}
@media (max-width: 767px) {
  .sp-t-mint {
    padding-top: 28px;
  }
}

.sp-b-mint {
  padding-bottom: 32px;
}
@media (max-width: 1024px) {
  .sp-b-mint {
    padding-bottom: 32px;
  }
}
@media (max-width: 767px) {
  .sp-b-mint {
    padding-bottom: 28px;
  }
}

.sp-v-mint {
  padding-top: 32px;
  padding-bottom: 32px;
}
@media (max-width: 1024px) {
  .sp-v-mint {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media (max-width: 767px) {
  .sp-v-mint {
    padding-top: 28px;
    padding-bottom: 28px;
  }
}

.sp-t-purple {
  padding-top: 40px;
}
@media (max-width: 1024px) {
  .sp-t-purple {
    padding-top: 40px;
  }
}
@media (max-width: 767px) {
  .sp-t-purple {
    padding-top: 32px;
  }
}

.sp-b-purple {
  padding-bottom: 40px;
}
@media (max-width: 1024px) {
  .sp-b-purple {
    padding-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .sp-b-purple {
    padding-bottom: 32px;
  }
}

.sp-v-purple {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (max-width: 1024px) {
  .sp-v-purple {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .sp-v-purple {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.sp-t-darkblue {
  padding-top: 48px;
}
@media (max-width: 1024px) {
  .sp-t-darkblue {
    padding-top: 40px;
  }
}
@media (max-width: 767px) {
  .sp-t-darkblue {
    padding-top: 32px;
  }
}

.sp-b-darkblue {
  padding-bottom: 48px;
}
@media (max-width: 1024px) {
  .sp-b-darkblue {
    padding-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .sp-b-darkblue {
    padding-bottom: 32px;
  }
}

.sp-v-darkblue {
  padding-top: 48px;
  padding-bottom: 48px;
}
@media (max-width: 1024px) {
  .sp-v-darkblue {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .sp-v-darkblue {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.sp-t-green {
  padding-top: 64px;
}
@media (max-width: 1024px) {
  .sp-t-green {
    padding-top: 48px;
  }
}
@media (max-width: 767px) {
  .sp-t-green {
    padding-top: 40px;
  }
}

.sp-b-green {
  padding-bottom: 64px;
}
@media (max-width: 1024px) {
  .sp-b-green {
    padding-bottom: 48px;
  }
}
@media (max-width: 767px) {
  .sp-b-green {
    padding-bottom: 40px;
  }
}

.sp-v-green {
  padding-top: 64px;
  padding-bottom: 64px;
}
@media (max-width: 1024px) {
  .sp-v-green {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
@media (max-width: 767px) {
  .sp-v-green {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.sp-t-orange {
  padding-top: 80px;
}
@media (max-width: 1024px) {
  .sp-t-orange {
    padding-top: 64px;
  }
}
@media (max-width: 767px) {
  .sp-t-orange {
    padding-top: 40px;
  }
}

.sp-b-orange {
  padding-bottom: 80px;
}
@media (max-width: 1024px) {
  .sp-b-orange {
    padding-bottom: 64px;
  }
}
@media (max-width: 767px) {
  .sp-b-orange {
    padding-bottom: 40px;
  }
}

.sp-v-orange {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (max-width: 1024px) {
  .sp-v-orange {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
@media (max-width: 767px) {
  .sp-v-orange {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.sp-t-pink {
  padding-top: 100px;
}
@media (max-width: 1024px) {
  .sp-t-pink {
    padding-top: 80px;
  }
}
@media (max-width: 767px) {
  .sp-t-pink {
    padding-top: 64px;
  }
}

.sp-b-pink {
  padding-bottom: 100px;
}
@media (max-width: 1024px) {
  .sp-b-pink {
    padding-bottom: 80px;
  }
}
@media (max-width: 767px) {
  .sp-b-pink {
    padding-bottom: 64px;
  }
}

.sp-v-pink {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 1024px) {
  .sp-v-pink {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (max-width: 767px) {
  .sp-v-pink {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

.sp-t-wine {
  padding-top: 120px;
}
@media (max-width: 1024px) {
  .sp-t-wine {
    padding-top: 100px;
  }
}
@media (max-width: 767px) {
  .sp-t-wine {
    padding-top: 80px;
  }
}

.sp-b-wine {
  padding-bottom: 120px !important;
}
@media (max-width: 1024px) {
  .sp-b-wine {
    padding-bottom: 100px !important;
  }
}
@media (max-width: 767px) {
  .sp-b-wine {
    padding-bottom: 80px !important;
  }
}

.sp-v-wine {
  padding-top: 120px;
  padding-bottom: 120px;
}
@media (max-width: 1024px) {
  .sp-v-wine {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media (max-width: 767px) {
  .sp-v-wine {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.sp-t-pastel {
  padding-top: 200px;
}
@media (max-width: 1024px) {
  .sp-t-pastel {
    padding-top: 120px;
  }
}
@media (max-width: 767px) {
  .sp-t-pastel {
    padding-top: 100px;
  }
}

.sp-b-pastel {
  padding-bottom: 200px;
}
@media (max-width: 1024px) {
  .sp-b-pastel {
    padding-bottom: 120px;
  }
}
@media (max-width: 767px) {
  .sp-b-pastel {
    padding-bottom: 100px;
  }
}

.sp-v-pastel {
  padding-top: 200px;
  padding-bottom: 200px;
}
@media (max-width: 1024px) {
  .sp-v-pastel {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
@media (max-width: 767px) {
  .sp-v-pastel {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.d-none {
  display: none;
}

@media (max-width: 1279px) {
  .d-none-lg {
    display: none;
  }
}

@media (max-width: 1024px) {
  .d-none-md {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .d-none-sm {
    display: none !important;
  }
}

.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.f-w-medium {
  font-weight: 500;
}/*# sourceMappingURL=style.css.map */